<!DOCTYPE html>
<html>
<head>
  <title class="title">Sistema de Vendas de Ingressos</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  {{#if userAuthenticated}}
 
  {{/if}}
  {{{body}}}
</body>
</html>