<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Novo Ingresso</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Criar Novo Ingresso</h1>

    {{#if error}}
      <p style="color:red;">{{error}}</p>
    {{/if}}

    <form action="/tickets/create" method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>

        <label for="price">Preço:</label>
        <input type="number" id="price" name="price" step="0.01" required>

        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" name="quantity" required>

        <button type="submit">Criar Ingresso</button>
        <button class="voltar" onclick="window.location.href='/tickets/manage'">Voltar</button>
    </form>




     <footer>
        <p class="footer" >© 2025 Sistema de Ingressos - Todos os direitos reservados - @José Victor Garcia</p>
    </footer>

</body>
</html>