<h2>Bem-vindo!</h2>
<p>Escolha uma ação:</p>

<button id="buy-ticket-btn">Comprar Ingressos</button>
<button id="my-tickets-btn">Meus Ingressos</button>
<button id="logout-btn">Sair</button>

<script src="/scripts.js"></script>