<h2>Bem-vindo!</h2>
<p>Escolha uma ação:</p>

<button id="buy-ticket-btn" onclick="window.location.href='/tickets/buy'">Comprar Ingressos</button>
<button id="my-tickets-btn" onclick="window.location.href='/history'">Meus Ingressos</button>
<button id="logout-btn">Sair</button>

<script src="/scripts.js"></script>