<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Ingresso</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Editar Ingresso</h1>

    <form action="/tickets/edit/{{ticket.id}}" method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="{{ticket.name}}" required>

        <label for="price">Preço:</label>
        <input type="number" id="price" name="price" step="0.01" value="{{ticket.price}}" required>

        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" name="quantity" value="{{ticket.quantity}}" required>

        <button type="submit">Salvar Alterações</button>
        <button onclick="window.location.href='/tickets/manage'">Voltar</button>
    </form>



     <footer>
        <p class="footer" >© 2025 Sistema de Ingressos - Todos os direitos reservados - @José Victor Garcia</p>
    </footer>
</body>
</html>
