<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <h1>Sistema de Ingressos</h1>
        <nav>
            <a href="/login">Login</a>
       <a href="/register" class="button">Registrar</a>

</a>
        </nav>
    </header>

    <main>
        {{{body}}}  <!-- Aqui será injetado o conteúdo das páginas -->
    </main>

    <footer>
        <p>&copy; 2025 - Sistema de Ingressos</p>
    </footer>
</body>
</html>
