<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styleshome">
</head>
<body>
    <header class="header">
        <h1>Bem-vindo ao Sistema de Vendas de Ingressos</h1>
    </header>

    <main class="container">
        <p class="title">Faça login ou registre-se para continuar</p>
        <div class="button-group">
            <a href="/users/login" class="btn btn-login">Login</a>
            <a href="/users/register" class="btn btn-register">Registrar</a>
        </div>
    </main>

    <footer>
        <p class="footerHome">© 2025 Sistema de Ingressos - Todos os direitos reservados - @José Victor Garcia</p>
    </footer>
</body>
</html>
